<div style="margin: 20%">
      <h1 class="display-6">Ingrese producto</h1>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Precio"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Image URL"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <button type="button" class="btn btn-primary">Enviar</button>
      <button type="button" class="btn btn-dark">Ver los productos agregados</button>
    </div>