<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-3">
    <div class="jumbotron">
        <h2 style="color:crimson;">Productos</h2>
        {{#if productos}}
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr style="color: yellow"><th>Nombre</th><th>Precio</th><th>Imagen</th></tr>
                    {{#each productos}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>${{this.precio}}</td>
                        <td><img src="{{this.imageURL}}" style="max-height:30px"></td>
                    </tr>
                   {{/each}}
                </table>
                <form action="/" method="get">
                <button class="btn btn-success mt-3 mb-5">volver a Cargar productos</button>
                </form>
            </div>
         {{else}}
                    <h3 class="alert alert-danger">no se encontraron datos </h3>
                    <form action="/" method="get">
                        <button class="btn btn-success mt-3 mb-5">volver a Cargar productos</button>
                    </form>
        {{/if}}
    </div>
  </div>
</body>



</html>