<h2 style="color:crimson;">Productos</h2>
        {{#if productos}}
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr style="color: yellow"><th>Nombre</th><th>Precio</th><th>Imagen</th></tr>
                    {{#each persona}}
                    <tr>
                        <td>{{this.nombre}}</td>
                        <td>{{this.Precio}}</td>
                        <td><img src="{{this.fotoURL}}" style="max-height:30px"></td>
                    </tr>
                   {{/each}}
                </table>
                <form action="/volver" method="post">
                <button class="btn btn-success mt-3 mb-5">volver a Cargar productos</button>
                </form>
            </div>
         {{else}}
                    <h3 class="alert alert-danger">no se encontraron datos </h3>
                    <form action="/volver" method="post">
                        <button class="btn btn-success mt-3 mb-5">volver a Cargar productos</button>
                    </form>
        {{/if}}