<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="./main.js"></script>
   
</head>
<body>
  
    <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color:blue">Login de usuario</h1>
      <br>
            <form action="/signup" method="post">
              <div class="form-group">
               <label for="name"><b>Ingrese su username</b></label> 
               <input id="name" class="form-control" type="text" name="username">
              </div>
              <div class="form-group">
               <label for="name"><b>Ingrese contrasenia</b></label> 
               <input id="name" class="form-control" type="text" name="password">
              </div>
              <div class="form-group">
               <label for="name"><b>Ingrese su mail</b></label> 
               <input id="name" class="form-control" type="text" name="mail">
              </div>
               <div class="form-group">
               <label for="name"><b>Ingrese nombre</b></label> 
               <input id="name" class="form-control" type="text" name="nombre">
              </div>
              <div class="form-group">
               <label for="name"><b>Ingrese apellido</b></label> 
               <input id="name" class="form-control" type="text" name="apellido">
              </div>
               <button class="btn btn-success mt-3 mb-5">Enviar</button>
            </form>
<form action="/login" method="get">
      <button class="btn btn-success mt-3 mb-5">Ir a Login</button>
      </form>
    </div>
  </div>
</body>



</html>

